.landing-header{
  min-height: 100vh;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .main-title{
    font-size: 4em !important;
  }
}

.landing-part{
  min-height: 90vh;

  p {
    text-align: justify !important;
  }

  h1,h2,h3,h4,h5 {
    text-transform: uppercase !important;
  }
}

.landing-consults-part{
  .ui.header{
    text-transform: uppercase;
  }

  .landing-consult-container{
    display: flex !important;
    align-items: center !important;
    color: white !important;
    font-weight: bold !important;

    .landing-consult-text{
      background-color: rgba(0,0,0,0.5);
      padding: 2em 0 ;
    }
  }
  padding: 5em 0 !important;
}
