.project-header{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .project-header-inner-grid{
    height: inherit !important;
    background-color: rgba(0,0,0,0.5);
  }
}

.project-description-container{
  padding: 3em !important;
  margin-bottom: 2em;
}

.project-content-container{
  font-family: 'Roboto' !important;
}

.project-content{
  margin: 2em 0;
}

.project-author-container{
    background-color: #ecf0f1;
    font-weight: bold;
}

.project-likes-counter{
  font-size: 2em;
}

.project-likes-container{
  display: table-cell !important;
  vertical-align: middle;
}
