@import '../global_variables.scss';

.consult-part{

  &.hover{
    border: 2px dashed $global_turquoise !important;
  }
}

.consult-part-admin-stats{
  background-color: #ecf0f1;
}

.consult-part-content{

  @media screen and (max-width: 768px) {
    padding: 0 1em;
  }
  
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}
