@import '../global_variables.scss';

.navbar-container{
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main-navbar{

  .navbar-item{
    color: white !important;
  }
}
